<% if @user.errors.any? %>
  <%= @user.errors.count %> errors prohibited this obj from being saved
  <ul>
    <% @user.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>
<div>
  <%= image_tag @user.get_profile_image(100,100) %>
  <h3><%= @user.name %></h3>
  <h3><%= @user.introduction %></h3>
  <% if @user == current_user %>
    <p><%= link_to "プロフィール編集", edit_user_path(@user) %></p>
  <% end %>
</div>
<% @books.each do |book| %>
<div>
  <%= image_tag book.user.get_profile_image(80,80) %>
  <%= link_to book.title, book_path(book) %>
  <%= book.body %>

</div>
<% end %>


  