<% if @book.errors.any? %>
  <%= @book.errors.count %> errors prohibited this obj from being saved
  <ul>
    <% @book.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>

<div>
  <p><%= image_tag @book.user.get_profile_image(100,100) %></p>
  <p><%= @book.user.name %></p>
  <p><%= link_to @book.title, book_path(@book) %></p>
  <p>Opinion：<%= @book.body %></p>

    <% if @book.user == current_user %>
    <%= link_to "Edit", edit_book_path(@book) %>
    <%= link_to "destroy", book_path(@book), method: :delete %>
  <% end %>
</div>
