<%= render 'list', books: @books %>

<div class="col-md-8 offset-md-1">
  <h2>Book detail</h2>
  <table class="table">
    <tbody>
      <tr>
        <td><%= image_tag @book.user.get_profile_image(100,100) %><br>
        <td><%= link_to @book.user.name,user_path(@book.user) %></td></td>
        <td><%= link_to @book.title, book_path(@book) %></td>
        <td>Opinion：<%= @book.body %></td>

        <% if @book.user == current_user %>
          <%= link_to "Edit", edit_book_path(book) %>
          <%= link_to "destroy", book_path(book), method: :delete %>
        <% end %>
    </tbody>
  </table>
</div>